@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.center-box {
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    height: 840px;
    width: 427px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-container {
    width: 100%;
    height: 770px;
    max-width: 426px;
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.cutimg {
    margin-left: 361px;
}

h2 {
    color: #3BB161;
    font-family: 'Comfortaa';
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.phone-input-container {
    max-width: 400px;
    /* Adjust as needed */
    width: 100%;
}

.form-group {
    position: relative;
    margin-bottom: 1rem;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

button.get-otp {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}